#whole{
    overflow: auto;
    background-color: bisque;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.page{
    margin-top: 100px;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    margin-top: 100px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: tomato;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-corner{
    background-color: transparent;
}

@media (max-width: 680px){
    ::-webkit-scrollbar-track{
        margin-top: 0px;
    }

    .page{
        margin-top: 0px;
        margin-left: 100px;
    }
}